.updateContainer{
   float: right;
}
.updateProperty-container{
    margin-top: 15px;
}
.updateProperty-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.updatePropertyData-container{
    display: flex;
    max-width: 70vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.UpdatePropOptions-container{
    text-align: center;
    margin-top: 15px;
    
}