@import './css/normalize.css';
@import './css/vars.css';
@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap');
*{
  box-sizing: border-box;
}
*{
  font-family: "Roboto";
}
body {
  background-color: var(--main-color);
  color: var(--secondary-color);
  
  
}
aside{
  float: left;
  height: 100px;
  margin-right: 1px;
  min-height: 90vh;
}



body main{
  min-height: 90vh;
  width: 100%;
  
}
.main div:first-child{
  height: 100%;
  border: 10px solid blue;
}
.bodyHeader{
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.primary-button{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 2px 2px 10px #666;

}

.primary-input{
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  height: 30px;
  box-shadow: 2px 2px 10px #666
  
}


.primary-file-select{
  opacity: 0;
}

.error{
  margin:10px;
  padding: 5px;
  border: 1px solid red;
  border-radius: 5px;
  color:red;
  font-weight: bold;
  background-color: pink;
}

.alert-container{
  font-size: 0.75em;
  border: 1px solid rgb(91, 92, 50);
  border-radius: 10px;
  background-color: rgb(214, 214, 132);
  color:rgb(91, 92, 50);
  padding: 5px;
  margin: 7px;
}



h1, h2, h3, h4, h5{
  color: var(--secondary-color);
  padding: 5px;
  font-weight: bold;
}

h1{
  text-align: center;
}

.primary-checkbox{
  color: var(--secondary-color)
}


.crudTable {
  width: 60vw;
  min-width: 460px;

}
.crudTable th{
  text-align: center;
  background-color: rgb(216, 216, 216);
  font-size: 1.3em;
}

.crudTable tr{
  border-bottom: 1px solid black;
  
}

.crudTable td{
  text-align: center;
  padding: 5px;
  
}

.icons-crud{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* ICONOS DE ANT */
.anticon{
  margin: 5px;
  font-size: 1.3em;
}

.ant-picker-input input::placeholder {
  color: var(--secondary-color);
  opacity: 0.50;
}

.ant-picker{
  position: unset;
  color: var(--secondary-color);
  margin: 5px;
}
.ant-checkbox{
  position: relative;
}

.ant-picker-input input{
  color: var(--secondary-color);
}
.ant-picker-content td{
  color: var(--secondary-color)
}

.ant-picker-content th{
  color: var(--secondary-color)
}

.ant-picker-header{
  color: var(--secondary-color)

}