.advertisement-search-container{
    background-image: url('./form-back.jpg');
    background-size: cover;
    background-position: bottom;
    height: 30vh;
    max-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    overflow-y: scroll;
    
}

.searchPropertyData-container, .resservSearch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

.searchPropertyData-container *{
    margin: 4px 5px;
}
.resservSearch-container *{
    margin: 2px 5px
}

.advertisement-search-container form{
    background-color:rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    max-width: 80vw;
    
}
.advertisement-search-container form>h1{
    text-align: center;
    
}
.advertisement-search-container select {
    background-color: white;
    
}
.advertisement-search-container * {
    font-weight: bold;
}



.advertisement-search-container input::placeholder{
    color: var(--secondary-color);
    opacity: 0.50;

}
.resultSearchCotainer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}



.leaflet-popup-content-wrapper {
    width: 600px;
    padding: 1px;
    margin:0px;
}

.leaflet-popup-tip-container {
    width: 525px;
    margin: 0px;
}

.mapPosition div {
    position: sticky;
    z-index: 0;
}