.addPropertyData-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.addPropertyContainer h1{
    text-align: center;
}

.addPropertyData-container *{
    margin: 10px;
}
.addpropOptions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#addPropertyAutocomplete{
    max-width: 760px;
    min-width: 460px;
}
.addProperty-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.addPropertyData-container *::placeholder{
    color: var(--secondary-color);
    opacity: 0.5;
}
.addpropOptions-container span {
    color: var(--secondary-color)
}

.addProperty-button{
    margin: auto;
}

.leaflet-container{
    width: 100%;
    height: 30vh;
}


.propertyImage-label{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}
.propertyImages-container{
   height: 20vh;
   width: 90%;
   margin: 20px;
   border: 2px solid var(--secondary-color);
   background-color: red;
   box-sizing: content-box;
   border-radius: 15px;
   overflow: hidden;
}
.property-preview{
    width: 100%;
    background-color: var(--primary-color);
    background-position: center;
    background-size: cover;
    border: 1px solid var(--secondary-color);
}

.primary-file-select-property{
    display: none;
}