@import '../../css/vars.css';

.navContainer a{
    color: var(--secondary-color);
    text-decoration: none;
}

.navContainer   {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
    align-items: center;
    top: 0;
    height: 75px;
    
    
}
.navContainer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
}

.navContainer ul{
    margin-left: 10px;
    margin-right: 10px;
}

.navContainer ul li{
    padding-left: 15px;

}

.navContainer ul li:hover{
    cursor: pointer;
    text-decoration:underline;
    transform: scale(1.2)
}

.navLoginContainer{
    display: flex;
    flex-direction: row;    
}

.navContainer img {
    width: 75px;
}


#navLogo{
    margin-left: 10px;
}

#minUserMenu{
    margin-right: 10px;
}

.TextNav{
    font-size: 1.3em;
    font-weight: bold;
}