.registerLogin-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.register-Container{
    border: 1px solid var(--secondary-color);
    width: 25vw;
    border-radius: 25px;
    padding: 5px;
    margin: 10px auto;
    box-shadow: var(--primary-shadow);
    min-width: fit-content;
    
    
}

.register-Container form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.register-Container h1{
    text-align: center;
}

.register-Container form * {
    margin: 5px;
    text-align: center;
}

.register-Container button {
    width: 100px;
}

.loadimage-container{
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.register-Container input, select {
    width: 250px;
}
.avatarImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}