
.adv-Container{
   display: flex;
   justify-content: space-around;
   padding-top: 25px;
   
}
.adv-Container h2{
    font-weight: bold;
}
.AdvImageContainer{
    text-align: center;
    width: 30vw;
}


.advImgSlider{
    object-fit: cover;
    width:40vw;
    height: 35vh;
    border-radius: 15px;
    border: 2px solid var(--secondary-color);
}

.solReservaButton{
    padding: 3px;
    margin: 5px;
    font-weight: bold;
    
}

.AdvImageContainer {
    margin-bottom: 20px;
}

.advMapContainer{
    border-radius: 15px;
    border: 2px solid var(--secondary-color);
    overflow: hidden;
    width: 30vw;
}