@import '../../css/vars.css';
.modal-background{
    background-color: #00000080;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    
}

.modal-foreground {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10%;
    
}

@media (max-width:600px){
    .modal-foreground{
        width: 90vw;
        height: 35vh;
    }
}